.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/premium-photo/vector-dark-hexagonal-background-with-gradient-color_971166-63720.jpg?w=1060);
}
